.profileBody{
    height: 75vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #E5E5E5;
}

.profileContainer{
    height: 40vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #a6a6a6;
    border-radius: 1em;
}

.profileContainer2{
    height: 30vh;
    width: 25vw;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.profileButton {

    width: 8em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4561c3;

    border-radius: 0.5em;
    transition: 0.3s;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.profileButton:hover {

    background-color: #4545c3;
    transition: 0.3s;
}

.profileContainer3{
    height: 5vh;
    width: 25vw;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;

}