.treatmentsBody{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E5E5E5;
}


.treatmentsGrid{
    height: 80vh;
    width: 85vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.treatmentsCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;

    color: white;

    background-color: #5e7ce4;
    transition: 0.4s;
    border-radius: 1em;

    margin: 0.5em;
}

.treatmentsCard img{
    width: 15vw;
}