@media (max-width: 549px) {
    
.headerBody{
    height: 8vh;

    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: #5e7ce4;
}

.headerLogo{
    height: 8vh;
    width: 20vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.headerLogo img{
    height: 6vh;
    cursor: pointer;
}

.headerOptions{
    height: 8vh;
    width: 80vw;
    
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.headerButton{
    height: 8vh;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;

    border-radius: 1em;
}

.headerButton:hover{

    background-color: #4561c3;
}

.adminButton{
    width: 100vw;

    background-color: black;
    color: white;

    cursor: pointer;
}
}

@media (min-width: 550px) and (max-width: 1199px) {
  
  .headerBody {
    height: 8vh;
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: #5e7ce4;
  }

  .headerLogo {
    height: 10vh;
    width: 33vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .headerLogo img {
    height: 5vh;
    cursor: pointer;
  }

  .headerOptions {
    width: 65vw;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }

  .headerButton {
    height: 8vh;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;

    border-radius: 1em;
  }

  .headerButton:hover {
    background-color: #4561c3;
  }

  .adminButton {
    width: 100vw;

    background-color: black;
    color: white;

    cursor: pointer;
  }
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .headerBody {
    height: 15vh;
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: #5e7ce4;
  }

  .headerLogo {
    height: 15vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .headerLogo img {
    height: 8vh;
    cursor: pointer;
  }

  .headerOptions {
    height: 15vh;
    width: 80vw;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }

  .headerButton {
    height: 8vh;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;

    border-radius: 1em;
  }

  .headerButton:hover {
    background-color: #4561c3;
  }

  .adminButton {
    width: 100vw;

    background-color: black;
    color: white;

    cursor: pointer;
  }
}

@media (min-width: 1800px) {
  
  .headerBody {
    height: 8vh;
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: #5e7ce4;
  }

  .headerLogo {
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .headerLogo img {
    height: 6vh;
    cursor: pointer;
  }

  .headerOptions {
    height: 6vh;
    width: 80vw;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }

  .headerButton {
    height: 6vh;
    width: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: white;

    border-radius: 1em;
  }

  .headerButton:hover {
    background-color: #4561c3;
  }

  .adminButton {
    width: 100vw;

    background-color: black;
    color: white;

    cursor: pointer;
  }
}
