.loginBody{
    height: 73vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E5E5E5;
}

.loginButton {

    width: 6em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkcyan;

    border-radius: 0.5em;
    transition: 0.3s;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.loginButton:hover {

    background-color: darkseagreen;
    transition: 0.3s;
}