.signUpBody{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E5E5E5;
}

.signUpContainer{
    height: 75vh;
    width: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #a6a6a6;
    border-radius: 1em;
}

.signUpContainer2{
    height: 60vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.signUpContainer3{
    height: 10vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;


}

.signUpButton {

    width: 6em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4561c3;

    border-radius: 0.5em;
    transition: 0.3s;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.signUpButton:hover {

    background-color: #4545c3;
    transition: 0.3s;
}

@media (max-width: 549px) {
    
}

@media (min-width: 550px) and (max-width: 1199px) {
  
}

@media (min-width: 1200px) and (max-width: 1799px) {

}

@media (min-width: 1800px) {
  
}
